/* =====Custom style===== */

$color1:#FF686B;
$color2:#A5FFD6;
$color3:#2A9D8F;
$color4:#FFA69E;
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

body {
  display: flex;
  margin: 0 auto;
  background-color: $color2;
}

.container {
  max-width: 1170px;
  min-width: 270px;
  padding: 0px 10px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  text-align: center;
  flex: 1;
  header {
    margin-top: 50px;
    color: $color3;
    h1 {
      font-size: 2.5rem;
      margin-bottom: 20px;
      text-shadow: #000 1px 1px;
    }
    h3 {
      letter-spacing: 3px;
      margin-bottom: 20px;
      text-shadow: #000 1px 1px;
    }
    .position>* {
      margin: 10px 0px;
    }
  }
}

#warning {
  background-color: #ffffff;
  font-size: 18px;
  text-align: center;
  min-height: 70px;
  color: $color1;
  border: 2px solid $color1;
  display: none;
  padding: 10px 20px;
  margin-top: 40px;
}

#results {
  max-width: 768px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  #tbody {
    display: none;
    .show {
      display: flex;
    }
  }
  thead,
  tbody {
    border: 2px solid $color1;
    background-color: #fff;
    color: $color1;
    width: 100%;
    margin-bottom: 20px;
    th {
      flex: 1;
      padding: 5px 10px;
      font-size: 16px;
    }
    tr {
      display: flex;
      justify-content: center;
      align-items: center;
      td {
        flex: 1;
      }
      .fa-chevron-circle-down {
        font-size: 25px;
      }
      .plane-180 {
        transform: scaleX(-1);
      }
    }
    .moreInfo {
      border-top: 1px dashed $color1;
    }
    .moreInfo,
    .from,
    .to,
    .logo {
      padding: 10px 0px;
      display: none;
    }
    .logo {
      border-bottom: 1px dashed $color1;
      img {
        height: 100px;
        width: 100px;
        border: 2px solid $color1;
      }
    }
  }
}

#loader {
  text-align: center;
  display: flex;
  justify-content: center;
  .radar-spinner,
  .radar-spinner * {
    box-sizing: border-box;
  }
  .radar-spinner {
    height: 120px;
    width: 120px;
    position: relative;
  }
  .radar-spinner .circle {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    animation: radar-spinner-animation 2s infinite;
  }
  .radar-spinner .circle:nth-child(1) {
    padding: calc(120px * 5 * 2 * 0 / 110);
    animation-delay: 300ms;
  }
  .radar-spinner .circle:nth-child(2) {
    padding: calc(120px * 5 * 2 * 1 / 110);
    animation-delay: 300ms;
  }
  .radar-spinner .circle:nth-child(3) {
    padding: calc(120px * 5 * 2 * 2 / 110);
    animation-delay: 300ms;
  }
  .radar-spinner .circle:nth-child(4) {
    padding: calc(120px * 5 * 2 * 3 / 110);
    animation-delay: 0ms;
  }
  .radar-spinner .circle-inner,
  .radar-spinner .circle-inner-container {
    height: 100%;
    width: 100%;
    border-radius: 50%;
    border: calc(120px * 5 / 110) solid transparent;
  }
  .radar-spinner .circle-inner {
    border-left-color: $color1;
    border-right-color: $color1;
  }
  @keyframes radar-spinner-animation {
    50% {
      transform: rotate(180deg);
    }
    100% {
      transform: rotate(0deg);
    }
  }
}

@media only screen and (max-width: 768px) {
  tr {
    display: flex;
    justify-content: center;
    align-items: center;
    td {
      // margin-left: 5px;
      flex: 1;
    }
    .btn-m {
      // margin-left: 5px;
      flex: 0 0 15%;
    }
  }
}